<div class="container">
  <div ng-show="isLoggedIn">
    <h3>You are already logged in. </h3>
  </div>
  <div ng-hide="isLoggedIn">
    <h3>Login</h3>
    <form role="form">
      <md-input-container>
        <label>Phone Number</label>
        <input type="text" ng-model="username" />
      </md-input-container>
      <md-input-container>
        <label>Password</label>
        <input type="password" ng-model="password" />
      </md-input-container>
      <md-button ng-click="login()" class="md-primary md-raised">
        Login
      </md-button>
    </form>
    <p style="margin-top: 5px; color: red;">{{error_message}}</p>
  </div>
</div>