<div layout="column" flex>
  <md-toolbar class="md-small-tall">
    <div layout="row" flex>
        <md-icon ng-hide="$mdMedia('gt-md')" ng-click="toggleSidenav()" id="menuIconBtn"
                md-svg-src="assets/icons/menu.svg" alt="toggleSidenav"
                style="height:24px; width:24px;">
        </md-icon>
      <div class="md-toolbar-tools">
        <h3 id="navbarTitle">
          <span ui-sref="home">SWPS - Cybermotion</span>        
        </h3>
      </div>
    </div>
  </md-toolbar>
</div>