<div>
  <div layout="row" layout-align="space-around center">
    <h3 align="center">Smart Water Pumping Support</h3>
  </div>
  <hr>
  <div layout="row" layout-align="space-around center">
    <md-button ui-sref="support.service()" class="md-primary md-raised">Service</md-button>
    <md-button ui-sref="support.complaints()" class="md-primary md-raised">Complaints</md-button>
    <md-button ui-sref="support.newComplaint()" class="md-primary md-raised">Report an issue</md-button>
  </div>
  <div ui-view></div>
</div>